.journal-bg {
    background-color: #395886;
    border-radius: 20px;
}

.journal-btn {
    background-color: #395886;
    color: #fff;
}

.journal-btn:hover {
    background-color: #638ECB;
    color: #fff;
}

.journal-card {
    background-color: #638ECB;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.preview-card {
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    height: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.preview-card iframe {
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1);
    transform-origin: top left;
}